
# Binaries and intermediate files:
*.beam
.*.swp
*~
ebin/*.app
src/purity_bifs.erl

# Documentation related:
doc/edoc-info
doc/*.html
doc/*.png
doc/*.css
!doc/style.css
README.html

# Byproducts of coredump script:
*.{core,dump,labl}

# etags
TAGS

