
# Binaries and intermediate files:
*.beam
.*.swp
*~
ebin/*.app
src/purity_bifs.erl
_build

# Documentation related:
doc/edoc-info
doc/*.html
doc/*.png
doc/*.css
!doc/style.css
README.html

# Byproducts of coredump script:
*.{core,dump,labl}
erl_crash.dump
rebar3.crashdump

# etags
TAGS

# Common suffix of result/stats files:
*.out
*.sts
