{minimum_otp_vsn, "19.3"}.

{erl_opts, [
    debug_info,
    warn_exported_vars,
    warn_unused_vars,
    warn_unused_import,
    nowarn_missing_spec,
    {d, 'VSN', 0.2}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        underspecs,
        race_conditions
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{pre_hooks, [
    {compile, "make src/purity_bifs.erl > /dev/null"}
]}.

{edoc_opts, [
    {preprocess, true},
    {includes, ["src"]},
    {macros, [{'VSN', 0.2}]},
    {def, {vsn, "0.2"}},
    {stylesheet, "style.css"}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            nowarn_export_all
        ]}
    ]}
]}.

{plugins, [
    {rebar_cmd, "0.2.5"}
]}.

{commands, [
    {tests, ["make tests"]},
    {units, ["make units"]}
]}.

{alias, [
    {tests, [{cmd, "tests"}]},
    {units, [{cmd, "units"}]}
]}.
